<div class="row">
    <table class="table">
        <thead>
            <tr class="table-primary">
                <th style="width: 30%; padding: 15px;">Username</th>
                <th style="width: 40%; padding: 15px;">Active roles</th>
                <th style="width: 30%;"></th>
            </tr>
        </thead>
        <tbody>
            @for (user of users; track user.username) {
                <tr class="table-light">
                    <td style="padding: 15px;">{{user.username}}</td>
                    <td style="padding: 15px;">{{user.roles}}</td>
                    <td ><button (click)="openRolesModal(user)" class="btn btn-info">Edit roles</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>
